.service {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.service__banner {
  width: 1196px;
  height: 378px;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0px 100px 80px rgba(149, 149, 149, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(149, 149, 149, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(149, 149, 149, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(149, 149, 149, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(149, 149, 149, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(149, 149, 149, 0.0196802));
  border-radius: 16px;
  background-color: #4372eb;
}

.service__banner__text {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.service__banner__text h3 {
  font-size: 40px;
  color: white;
  width: 470px;
}

.service__banner__text p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 32px;
  width: 450px;
  color: white;
}

.service__banner img {
  height: 100%;
}
