.destinations {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  margin-top: 200px;
  margin-bottom: 20px;
}

.destinations__wrapper {
  width: 100%;
  width: 80%;
}

.destinations__favorites__wrapper {
  display: flex;
  justify-content: space-between;
}
